@font-face {
    font-family: "Norse";
    src: url("../font/Norse-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

.logo {
    font-family: "Norse";
    font-weight: bold;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
}

aside, main {
    /* border: inset red; */
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 40%;
    min-width: 0;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 20%;
    width: 100%;
}

.logo {
    height: 100%;
}

.logo-text {
    font-family: "Norse";
    color: white;
    font-size: 5rem;
}

.credit {
    color: white;
}

.credit a, .credit a:link, .credit a:active, .credit a:visited {
    color: white;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    background-color: #F5F5DDE6;
}

.intro-text, .form-container, .action-area {
    flex: 1 1 33%;
    /* border: inset red; */
    padding: 2% 30% 2% 5%;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.3;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

fieldset {
    margin-left: 0;
    padding-left: 0;
    border: none;
}

label {
    display: block;
    font-size: 1rem;
    color: grey;
    margin-top: 1rem;
}

input {
    width: 70%;
    font-size: 1.2rem;
    border-radius: 4px;
}

.form-row {
    display: flex;
    gap: 0.5rem;
}

.form-item {
    width: 50%;
}

.action-area {
    box-shadow: inset 0 0.1em grey;
}

.action-area button[type="submit"] {
    color: white;
    font-weight: bold;
    background-color: #596D48;
    padding: 1em;
    width: 30%;
    border: none;
    border-radius: 8px;
}

.action-area a, .action-area a:link, .action-area a:active, .action-area a:visited {
    text-decoration: none;
    color: #596D48;
}   